/* Estilos Generales */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    width: 100%;
    height: 100vh;
}

.rojo {
    color: darkred;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}

.separar {
    padding-top: 10px;
}

.separar3 {
    padding: 10px 0;
}

.boton {
    width: 200px;
    height: auto;
    color: #f2f2f2;
    background-color: #333;
}

.boton:hover {
    background-color: #BF452A;
    border-radius: 10px;
}


/* 1. Pagina Incio */
/* Bloque Cabecera */
#cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    padding: 0 10px;
    margin: 0;
    background-color: #333;
}



/* Bloque Logo */
.blq_logo {
    height: 51px;
    width: 100px;
    padding-left: 20px;
}

.blq_logo img {
    height: 47px;
    width: 80px;
}



/* Bloque Menú */
.blq_menu {
    width: 400px;
    height: auto;
}

.opc_menu {
    display: flex;
    color: #f2f2f2;
}

.opc_menu a {
    text-decoration: none;
    color: #f2f2f2;
}

.opc_menu li {
    padding: 0 10px;
}



/* Bloque Seguimiento y Registro */
.blq_registro {
    display: flex;
    padding-right: 20px;
    width: 150px;
    height: auto;
    justify-content: space-between;
    align-items: center;
}

.blq_registro a {
    text-decoration: none;
    color: #f2f2f2;
}



/* Seccion Busqueda */
#busq_id {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: url(../img/nacional.jpg);
    height: 600px;
}

.blq_img2 {
    width: 200px;
    height: 200px;

}

.imgCentro {
    width: 450px;
    height: 280px;
}

#seguimiento {
    width: 350px;
    height: 40px;
    font-size: 12px;
}

#buscar {
    width: 90px;
    height: 40px;
    font-size: 12px;
}

#buscar2 {
    width: 90px;
    height: 40px;
    font-size: 12px;
    color: #f2f2f2;
    background-color: #333;
}



/* Bloque Calcular Envío */
#calculo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;

}

.secc_calculo div {
    padding: 5px 0;
}

.form-calculo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 500px;
    border: 1px solid black;
}


.select {
    width: 200px;
    height: 35px;
}



/* Footer */
#footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: #333;
    margin: 0;
    padding: 0 10px;
}

#footer div {
    display: flex;
    flex-direction: column;
}

#footer a {
    text-decoration: none;
    color: #f2f2f2;
    padding: 5px 0;
}

#footer picture {
    height: 51px;
    width: 100px;
    padding-left: 20px;
}

/* 2. Página Nacional */
#blq_nacional {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: url(../img/nacional.jpg);
    height: 80%;
}

.texto_e {
    width: 45%;
    background-color: rgb(0, 0, 0, 0.5);
    color: #f2f2f2;
    padding: 0, 15px;
}

.texto_e p {
    font-size: 16px;
    padding: 30px 0;
}

.blq_img2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 300px;

}

.img2 {
    width: 450px;
    height: 280px;
}

.titulo {
    font-size: 24px;

}



/* 3. Página Internacional */
#blq_internacional {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: url(../img/nacional.jpg);
    height: 80%;
}

.texto_e2 {
    width: 45%;
    background-color: rgb(0, 0, 0, 0.5);
    color: #f2f2f2;
    padding: 0 15px;
}

.texto_e2 p {
    font-size: 16px;
    padding: 30px 0;
}


.blq_img3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 300px;

}

.img3 {
    width: 350px;
    height: 280px;
}

.img3:hover {
    width: 450px;
    height: 330px;
}

.titulo {
    font-size: 24px;

}



/* 5. Pagina de Contacto */
/* Bloque Imagen */
.bloque_contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}

#blq_img3 {
    width: 25%;
    height: 300px
}

#blq_img3 img {
    width: 100%;
    height: 100%;
}

/* Bloque Formulario */
.formulario2 {
    padding: 20px 5px;
}

.seccion_contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 300px;
    background-color: #F9F9F9;
    border: 1px solid black;
}

.titulo_2 {
    width: 100%;
    font-size: 16px;
    padding: 20px 5px;
}



/* 6. Página de Seguimiento */
#blq_seguimiento {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
    padding: 0 15px;
}

.secc_seguimiento {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 70%;
    border: 1px solid black;
}
#seguimiento-form label{
    padding: 10px 0;
}
#seguimiento-form label input{
    padding: 10px 0;
}
.form-group {
    padding: 5px 0;
    font-size: 14px;
}

.secc_seguimiento p {
    font-size: 16px;
}

.separar2 {
    padding-top: 40px;
}

.titulo_Seg {
    font-size: 26px;
    padding: 10px 0;
}


/* 7. Página de Registros Usuario */
#blq_registroUsu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
}

.secc_registroUsu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 70%;
    border: 1px solid black;
}

.form-group {
    padding: 5px 0;
    font-size: 14px;
}

.boton_Reg {
    padding-top: 15px;
}

.tituloR {
    font-size: 26px;
    padding-bottom: 20px;
}

.texto {
    font-size: 16px;
    padding: 5px 0;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rojo {
    color: red;
}

/* Botónes -> Enviar y Borrar */
.errorInput{
    border: 2px solid darkred;
}
.validoInput{ 
    border: 2px solid darkgreen;
}


